# dependencies
/node_modules
/.pnpm-store

# Next.js build output
/.next/
/out/

# Production build
/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Local environment variables
.env
.env*.local
.env.production
.env.development

# Vercel / Deployment
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Operating System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
